Results/*
obj/*.o
obj/*.mod
*.out
*.swp
visitlog.py
Validation/*
Unsteady
Unsteady/*
dummy*
*.tec
*.curve
*.dat
octave-workspace
*.zip
*.tar.gz
*.phy
*.pyc
src_plot/*.pyc
*_copy
status.txt
force_????.txt
