Results/*
build/*
build/*.o
build/*.mod
*.out
*.swp
visitlog.py
Validation/*
Unsteady
Unsteady/*
dummy*
*.tec
*.curve
*.dat
octave-workspace
*.zip
*.tar.gz
*.phy
*.pyc
src_plot/*.pyc
*_copy
status.txt
r01forceHist.txt
.vsptime
tools/*.xyz
tools/*.vsp3
geometry/*.m
