Results/
build/
bin/
*.out
*.swp
visitlog.py
dummy*
*.tec
*.curve
*.dat
*.csv
octave-workspace
*.zip
*.tar.gz
*.phy
*.pyc
tools/src_plot/*.pyc
.vsptime
tools/*.xyz
tools/*.vsp3
status.txt
*.mod
sub.cmd
*.err
*.log
